@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

@font-face {
  font-family: 'Lato-Regular';
  src: url("../fonts/Lato-Regular.woff2") format('woff2');
  font-weight: 400;
}
@font-face {
  font-family: 'Lato-Semibold';
  src: url("../fonts/Lato-Semibold.woff2") format('woff2');
  font-weight: 600;
}
@font-face {
  font-family: 'Lato-Bold';
  src: url("../fonts/Lato-Bold.woff2") format('woff2');
  font-weight: 700;
}
@font-face {
  font-family: 'Lato-Extra-Bold';
  src: url("../fonts/Lato-Extra-Bold.woff2") format('woff2');
  font-weight: 800;
}