@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.footer {
  width: 100%;
  background-color: $footer-background;

  &__container {
    max-width: 1167px;
    margin: 0 auto;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint(lg) {
      padding: 20px 0;
      max-width: 920px;
    }
    @include breakpoint(md) {
      max-width: 720px;
    }
    @include breakpoint(sm) {
      max-width: 300px;
      padding: 16px 0;
      flex-direction: column-reverse;
    }
  }
  &__copyright {
    @include footer-text;
    color: $text-main;

    span {
      text-transform: uppercase;
    }

    @include breakpoint(lg) {
      width: 306px;
      text-align: center;
    }
    @include breakpoint(sm) {
      width: 300px;
      margin: 0 auto;
      margin-top: 16px;
    }
  }
  &__payment-list {
    list-style: none;
    padding: 0;
    display: flex;
    border-left: 1px solid #C3C3C3;

    @include breakpoint(sm) {
      width: 300px;
      display: flex;
      border-left: none;
      margin-top: 10px;
    }
  }
  &__payment-item {
    margin-left: 38px;
    display: flex;

    @include breakpoint(lg) {
      margin-left: 14px;
    }
    @include breakpoint(sm) {
      margin-left: 10px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
  &__contacts-list {
    list-style: none;
    padding: 0;
    display: flex;
    border-left: 1px solid #C3C3C3;

    @include breakpoint(sm) {
      width: 300px;
      justify-content: center;
      border-left: none;
    }
  }
  &__contacts-item {
    margin-left: 38px;
    display: flex;

    &:hover {
      text-decoration: underline;
      text-decoration-color: #C3C3C3;
    }

    @include breakpoint(lg) {
      margin-left: 14px;
    }
    @include breakpoint(sm) {
      margin-left: 20px;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.payment {
  &__option {
    margin-left: 10px;
    @include footer-text;
    color: $text-footer;

    @include breakpoint(sm) {
      margin-left: 4px;
    }

    span {
      text-transform: uppercase;
    }
  }
}

.contacts {
  &__option {
    text-decoration: none;
    display: flex;
    align-items: center;
    @include footer-text;
    color: $text-footer;

    &:hover svg path {
      fill: $text-footer;
    }
  }
  &__option-text {
    margin-left: 10px;

    @include breakpoint(sm) {
      margin-left: 4px;
    }
  }
}