@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $background-header;
  padding: 33.5px 0 31.5px;
  opacity: .9;
  z-index: 999;

  &__container {
    position: relative;
    max-width: 1172px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include breakpoint(lg) {
      max-width: 860px;
    }
    @include breakpoint(md) {
      max-width: 700px;
    }
    @include breakpoint(sm) {
      max-width: 420px;
      justify-content: space-between;
    }
    @include breakpoint(xs) {
      max-width: 300px;
    }
  }
  &__home {
    color: $text-main;
    transition: .3s;
    @include logo;
    text-transform: uppercase;
    text-decoration: none;

    @include breakpoint(lg) {
      max-width: 860px;
    }
    @include breakpoint(md) {
      max-width: 700px;
    }
    @include breakpoint(sm) {
      max-width: 300px;
      justify-content: center;
      @include logo-sm;
    }
    span {
      color: $text-title-accent;
    }
    &:hover {
      opacity: .7;
    }
  }
  &__burger-menu {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
    width: 34px;
    height: 33px;
    flex-direction: column;
    display: none;
    
    @include breakpoint(sm) {
      display: flex;
    }

    &:hover .header__burger-part {
      background-color: $text-title-accent;
    }

    span {
      width: 40px;
      height: 2px;
      margin-top: 8px;
      background-color: #ffffff;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }
  &__burger-part {
    transition: .3s;
  }
  &__links {
    margin: 0;
    margin-top: 6px;
    list-style: none;
    padding-left: 0;
    display: flex;

    @include breakpoint(sm) {
      position: fixed;
      top: 87px;
      left: 0;
      width: 100%;
      padding-left: calc(50% - 208px);
      height: 32px;
      display: none;
      background-color: #10101d;
    }
    @include breakpoint(xs) {
      padding-left: calc(50% - 158px);
    }
  }
  &__link {
    margin-left: 60px;
    
    a {
      color: $text-main;
      text-decoration: none;
      @include menu-link;
      cursor: pointer;
      transition: .2s;
      &:hover {
        color: $text-title-accent;
      }
    }

    &:first-of-type {
      margin-left: 0;
    }
    

    @include breakpoint(lg) {
      margin-left: 50px;
    }
    @include breakpoint(md) {
      margin-left: 40px;
    }
    @include breakpoint(xs) {
      margin-left: 16px;
      @include menu-link-xs;

      &:first-of-type {
        margin-left: 8px;
      }
    }
  }
}

#burger-menu {
  display: none;

  &:checked ~ .header__links {
    display: flex;
  }
}