@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.hero {
  width: 100%;
  min-height: 850px;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-position: 60% 50%;
  background-size: cover;

  @include breakpoint(lg) {
    min-height: 700px;
  }
  @include breakpoint(md) {
    min-height: 700px;
  }
  @include breakpoint(sm) {
    min-height: 550px;
    background-position: 10%;
  }

  &__container {
    display: flex;
    flex-direction: column;
    max-width: 1172px;
    margin: 0 auto;
    padding-top: 207px;

    @include breakpoint(lg) {
      max-width: 860px;
      padding-top: 160px;
    }
    @include breakpoint(md) {
      max-width: 700px;
      padding-top: 140px;
    }
    @include breakpoint(sm) {
      max-width: 420px;
    }
    @include breakpoint(xs) {
      max-width: 300px;
    }
  }
  &__title {
    max-width: 780px;
    @include hero-title;
    color: $text-default;

    @include breakpoint(md) {
      @include hero-title-md;
      text-shadow: 1px 1px #1b1b1b;
    }
    @include breakpoint(sm) {
      
    }
    @include breakpoint(xs) {
      @include hero-title-xs;
    }

    span {
      color: $text-accent;
    }
  }
  &__additional {
    margin-top: 86px;
    @include hero-additional;

    @include breakpoint(lg) {
      margin-top: 60px;
    }
    @include breakpoint(md) {
      margin-top: 40px;
      @include hero-additional-md;
    }
    @include breakpoint(sm) {
      margin-top: 20px;
    }
  }
  &__list {
    margin-top: 12px;
    padding-left: 24px;
    list-style-type: ' - ';
    
  }
  &__list-item {
    @include hero-list;
    margin-top: 4px;

    &:first-of-type {
      margin-top: 0;
    }
    @include breakpoint(md) {
      @include hero-list-md;
    }
  }
  &__buttons {
    margin-top: 80px;

    @include breakpoint(lg) {
      margin-top: 60px;
    }
    @include breakpoint(md) {
      margin-top: 20px;
    }
    @include breakpoint(xs) {
      display: flex;
    }
  }
  &__button {
    margin-left: 30px;
    cursor: pointer;
    width: 183px;
    height: 43px;
    background-color: $button-order-color;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    text-transform: uppercase;
    border-radius: 4px;
    transition: .3s;

    @include breakpoint(sm) {
      margin-left: 10px;
    }
    
    &:hover {
      border: 1px solid $button-order-color;
      box-shadow: 0px 0px 14px 0px $button-order-color;
      -webkit-box-shadow: 0px 0px 14px 0px $button-order-color;
      -moz-box-shadow: 0px 0px 14px 0px $button-order-color;
    }

    &:first-of-type {
      margin-left: 0;
    }
    &_more {
      background-color: $button-more-color;
      color: #6F6D7B;
      border: 1px solid #6F6D7B;

      &:hover {
        box-shadow: none;
        border: 1px solid #6F6D7B;
        background-color: #3a3c4c;
        color: #FFFFFF;
      }
    }

    @include breakpoint(lg) {
      margin-left: 30px;
      width: 173px;
      height: 41px;
    }
    @include breakpoint(md) {
      margin-left: 20px;  
    }
    @include breakpoint(sm) {
      width: 140px;
      height: 30px;
    }
  }
}