@import './fonts.scss';
@import './variables.scss';

@mixin breakpoint($media) {
  @if $media == xs {
    @media only screen and (max-width: $screen-xs-max) { @content; }
  }
  @else if $media == sm {
    @media only screen and (max-width: $screen-sm-max) { @content; }
  }
  @else if $media == md {
    @media only screen and (max-width: $screen-md-max) { @content; }
  }
  @else if $media == lg {
    @media only screen and (max-width: $screen-lg-max) { @content; }
  }
  @else if $media == xl {
    @media only screen and (max-width: $screen-xl-max) { @content; }
  }
}

@mixin logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
}

@mixin logo-sm {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 28px;
}

@mixin menu-link {
  font-family: 'Lato-Semibold';
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
}

@mixin menu-link-xs {
  font-family: 'Lato-Semibold';
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
}

@mixin hero-title {
  font-family: 'Lato-Bold';
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
}

@mixin hero-title-md {
  font-family: 'Lato-Bold';
  font-size: 40px;
  line-height: 48px;
  text-transform: uppercase;
}

@mixin hero-title-xs {
  font-family: 'Lato-Bold';
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
}

@mixin hero-additional {
  font-family: 'Lato-Bold';
  font-size: 20px;
  line-height: 24px;
}

@mixin hero-additional-md {
  font-family: 'Lato-Bold';
  font-size: 17px;
  line-height: 19px;
}

@mixin hero-list {
  font-family: 'Lato-Regular';
  font-size: 20px;
  line-height: 24px;
}

@mixin hero-list-md {
  font-family: 'Lato-Regular';
  font-size: 16px;
  line-height: 19px;
}

@mixin button {
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 16px;
}

@mixin order-title {
  font-family: 'Lato-Extra-Bold';
  font-size: 36px;
  line-height: 43px;
}

@mixin order-title-sm {
  font-family: 'Lato-Extra-Bold';
  font-size: 27px;
  line-height: 30px;
}

@mixin order-description {
  font-family: 'Lato-Regular';
  font-size: 18px;
  line-height: 22px;
}

@mixin order-description-sm {
  font-family: 'Lato-Regular';
  font-size: 14px;
  line-height: 16px;
}

@mixin order-item-description {
  font-family: 'Lato-Regular';
  font-size: 16px;
  line-height: 19px;
}

@mixin order-item-description-sm {
  font-family: 'Lato-Regular';
  font-size: 24px;
  line-height: 27px;
}

@mixin order-range-label {
  font-family: 'Lato-Regular';
  font-size: 18px;
  line-height: 22px;
}

@mixin order-range-label-sm {
  font-family: 'Lato-Regular';
  font-size: 14px;
  line-height: 16px;
}

@mixin order-button {
  font-family: 'Lato-Semibold';
  font-size: 15px;
  line-height: 18px;
}

@mixin range-value {
  font-family: 'Lato-Semibold';
  font-size: 18px;
  line-height: 22px;
}

@mixin range-value-sm {
  font-family: 'Lato-Semibold';
  font-size: 16px;
  line-height: 20px;
}

@mixin footer-text {
  font-family: 'Lato-Regular';
  font-size: 13px;
  line-height: 16px;
}