@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.order {
  width: 100%;
  height: auto;
  padding-top: 92px;
  background-image: url('../images/background-map.png');
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: top;

  @include breakpoint(lg) {
    padding-top: 100px;
  }
  @include breakpoint(md) {
    padding-top: 80px;
  }
  @include breakpoint(sm) {
    padding-top: 60px;
  }

  &__container {
    max-width: 1172px;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    text-transform: uppercase;
    @include order-title;
    color: $text-main;
    span {
      color: $text-accent;
    }

    @include breakpoint(sm) {
      max-width: 320px;
      margin: 0 auto;
      @include order-title-sm;
    }
  }
  &__description {
    text-align: center;
    @include order-description;
    color: $text-description;

    @include breakpoint(sm) {
      max-width: 320px;
      margin: 0 auto;
      margin-top: 20px;
      @include order-description-sm;
    }
  }
  &__list {
    list-style: none;
    margin-top: 77px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 50px;
    }
    @include breakpoint(md) {
      max-width: 720px;
      margin-top: 40px;
    }
    @include breakpoint(sm) {
      margin-top: 0;
      max-width: 300px;
      flex-direction: column;
      align-items: center;
    }
  }
  &__list-item {
    width: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(lg) {
      width: 180px;
    }
    @include breakpoint(md) {
      width: 120px;
    }
    @include breakpoint(sm) {
      width: 240px;
    }

    &::before {
      content: url('../images/dots.svg');
      position: absolute;
      left: -64px;
      top: 40px;

      @include breakpoint(lg) {
        top: 30px;
        left: -54px;
      }
      @include breakpoint(md) {
        top: 20px;
        left: -43px;
      }
      @include breakpoint(sm) {
        content: '';
      }
    }
    &:first-of-type {
      &::before {
        content: '';
      }
    }
  }
  &__form {
    margin-top: 86px;
    padding-bottom: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @include breakpoint(lg) {
      max-width: 920px;
      margin: 0 auto;
      margin-top: 60px;
    }
    @include breakpoint(md) {
      max-width: 720px;
      margin-top: 40px;
    }
    @include breakpoint(sm) {
      max-width: 300px;
      padding-bottom: 60px;
    }
  }
}

.item {
  &__image {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: #3E9CDC;
    border: 5px solid #286690;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    @include breakpoint(lg) {
      width: 80px;
      height: 80px;
    }
    @include breakpoint(md) {
      width: 64px;
      height: 64px;
    }
    @include breakpoint(sm) {
      width: 160px;
      height: 160px;
      margin-top: 40px;

      &:first-of-type {
        margin-top: 40px;
      }
    }
  }
  &__description {
    margin-top: 20px;
    @include order-item-description;
    color: $text-main;

    @include breakpoint(lg) {
      text-align: center;
    }
    @include breakpoint(md) {
      width: 100px;
    }
    @include breakpoint(sm) {
      width: 320px;
      @include order-item-description-sm;
    }
  }
}

.form {
  &__details {
    display: flex;
    justify-content: space-between;

    @include breakpoint(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__additional {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint(sm) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__range-wrapper {
    display: flex;
    flex-direction: column;

    @include breakpoint(sm) {
      width: 100%;
    }
  }
  &__range-label {
    margin-bottom: 16px;
    @include order-range-label;
    color: $text-main;

    @include breakpoint(sm) {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      @include order-range-label-sm;
    }
  }
  &__range {
    width: 770px;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    outline: none;
    border-radius: 15px;
    height: 6px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid #FFFFFF;

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none; 
      height: 24px;
      width: 24px;
      background-color: $range-slider-color;
      border: 3px solid $range-slider-border-color;
      border-radius: 50%;
    }
    &::-moz-range-thumb {
      height: 24px;
      width: 24px;
      background-color: $range-slider-color;
      border: 3px solid $range-slider-border-color;
      border-radius: 50%;
    }

    @include breakpoint(lg) {
      width: 600px;
    }
    @include breakpoint(md) {
      width: 468px;
    }
    @include breakpoint(sm) {
      width: 100%;
    }
  }
  &__range-value {
    float: right;
    @include range-value;
    color: rgba(255, 255, 255, 0.85);

    @include breakpoint(sm) {
      @include range-value-sm;
    }
  }
  &__file-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    @include breakpoint(sm) {
      margin-top: 20px;
    }
  }
  &__file-label {
    cursor: pointer;
    width: 370px;
    height: 48px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #3E9CDC;
    border-radius: 3px;

    @include breakpoint(lg) {
      width: 280px;
      height: 41px;
    }
    @include breakpoint(md) {
      width: 220px;
      height: 38px;
    }
    @include breakpoint(sm) {
      width: 300px;
      height: 48px;
    }

    &:hover {
      background-color: #3a3c4c;
      border: 2px solid #FFFFFF;
    }
    &:hover .form__file-text {
      color: #FFFFFF;
    }
    &:hover .form__file-image svg path {
      fill: #FFFFFF;
    }
  }
  &__file-text {
    margin-left: 10px;
    @include order-button;
    text-transform: uppercase;
    color: $button-text-color;
  }
  &__file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  &__submit {
    cursor: pointer;
    width: 370px;
    height: 48px;
    margin: 0 auto;
    margin-top: 54px;
    background-color: $button-order-color;
    color: $text-main;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    @include order-button;
    text-transform: uppercase;
    transition: .3s;

    @include breakpoint(sm) {
      margin-top: 20px;
      width: 300px;
    }

    &:hover {
      border: 1px solid $button-order-color;
      box-shadow: 0px 0px 8px 0px $button-order-color;
      -webkit-box-shadow: 0px 0px 8px 0px $button-order-color;
      -moz-box-shadow: 0px 0px 8px 0px $button-order-color;
    }
  }
  &__select {
    cursor: pointer;
    position: relative;
    width: 370px;
    height: 48px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 3px;
    position: relative;

    &_opened {
      background-color: transparent;
    }

    @include breakpoint(lg) {
      width: 280px;
      height: 41px;
    }
    @include breakpoint(md) {
      width: 220px;
      height: 38px;
    }
    @include breakpoint(sm) {
      width: 300px;
      height: 48px;
    }
  }
}

#order-select,
#order-email,
#order-name {
  width: 370px;
  height: 48px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 3px;
  outline: none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 10px;
  @include order-range-label;
  color: $text-input;
  transition: .2s;

  &:focus {
    background-color: #3a3c4c;
    color: $text-main;
    &::placeholder {
      color: $text-main;
    }
  }

  @include breakpoint(lg) {
    width: 280px;
    height: 41px;
  }
  @include breakpoint(md) {
    width: 220px;
    height: 38px;
    @include order-range-label-sm;
  }
  @include breakpoint(sm) {
    margin-top: 20px;
    width: 300px;
    height: 48px;
    @include order-range-label;
  }
}

.select {
  
  &__wrapper {
    position: absolute;
    top: 97px;
    width: 370px;
    background-color: #272733;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #3D4050;
    border-radius: 0 0 3px 3px;
    transform: translateY(-50px);

    @include breakpoint(lg) {
      width: 280px;
      top: 91px;
    }
    @include breakpoint(md) {
      width: 220px;
      top: 87px;
    }
    @include breakpoint(sm) {
      width: 300px;
      top: 97px;
    }
  }
  &__arrow {
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 999;

    @include breakpoint(md) {
      top: 8px;
    }
    @include breakpoint(sm) {
      top: 12px;
    }
  }
  &__button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;
    border-radius: 3px 3px 0px 0px;
    @include order-range-label;

    @include breakpoint(md) {
      @include order-range-label-sm;
    }
    @include breakpoint(sm) {
      @include order-range-label;
    }

    &_opened {
      background: rgba(61, 64, 80, 0.85);
      border: 1px solid #3D4050;
      color: #FFFFFF;
    }
  }
  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: none;
    cursor: pointer;
    &:checked ~ .select__wrapper {
      opacity: 1;
      visibility: visible;
    }
    &:checked ~ .select__arrow {
      top: 16px;
      transform: rotate(180deg);

      @include breakpoint(md) {
        top: 12px;
      }
      @include breakpoint(sm) {
        top: 16px;
      }
    }
    &:checked ~ .select__arrow svg path {
      fill: #FFFFFF;
    }
  }
  &__options {
    max-height: 180px;
    margin: 3px;
    list-style: none;
    padding: 0;
    cursor: pointer;
    outline: none;
    @include order-range-label;
    overflow-y: auto;
    border-radius: 0 0 3px 3px;
    scrollbar-width: thin;
    scrollbar-color: #3E9CDC #3D4050;
    &::-webkit-scrollbar {
      width: 7px;
      border-radius: 3px;
      background-color: #3D4050;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background-color: #3E9CDC;
      background-clip: content-box;
    }
    &::-webkit-scrollbar-track-piece {
      border-radius: 3px;
    }
    &::-moz-scrollbar-thumb {
      border-radius: 10px;
    }
  }
  &__option {
    color: #FFFFFF;
    padding: 8px 12px;
    transition: .15s;
    &:hover {
      color: $text-select-color;
    }
  }
}