@import '../scss/variables.scss';
@import '../scss/mixins.scss';

.order {
  width: 100%;
  height: auto;
  padding-top: 92px;
  background-image: url('../images/background-map.png');
  background-repeat: no-repeat;
  object-fit: contain;
  background-position: top;

  @include breakpoint(lg) {
    padding-top: 100px;
  }
  @include breakpoint(md) {
    padding-top: 80px;
  }
  @include breakpoint(sm) {
    padding-top: 60px;
  }

  &__container {
    max-width: 1172px;
    margin: 0 auto;
  }
  &__title {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
    @include order-title;
    color: $text-main;
    span {
      color: $text-accent;
    }

    @include breakpoint(sm) {
      max-width: 320px;
      margin: 0 auto;
      @include order-title-sm;
    }
  }
  &__description {
    margin-top: 26px;
    text-align: center;
    @include order-description;
    color: $text-description;

    @include breakpoint(sm) {
      max-width: 320px;
      margin: 0 auto;
      margin-top: 20px;
      @include order-description-sm;
    }
  }
  &__list {
    list-style: none;
    margin-top: 77px;
    padding: 0;
    display: flex;
    justify-content: space-between;

    @include breakpoint(lg) {
      max-width: 800px;
      margin: 0 auto;
      margin-top: 50px;
    }
    @include breakpoint(md) {
      max-width: 720px;
      margin-top: 40px;
    }
    @include breakpoint(sm) {
      margin-top: 0;
      max-width: 300px;
      flex-direction: column;
      align-items: center;
    }
  }
  &__list-item {
    width: 220px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint(lg) {
      width: 180px;
    }
    @include breakpoint(md) {
      width: 120px;
    }
    @include breakpoint(sm) {
      width: 240px;
    }

    &::before {
      content: url('../images/dots.svg');
      position: absolute;
      left: -64px;
      top: 40px;

      @include breakpoint(lg) {
        top: 30px;
        left: -54px;
      }
      @include breakpoint(md) {
        top: 20px;
        left: -43px;
      }
      @include breakpoint(sm) {
        content: '';
      }
    }
    &:first-of-type {
      &::before {
        content: '';
      }
    }
  }
  &__image {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    background-color: #3E9CDC;
    border: 5px solid #286690;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;

    @include breakpoint(lg) {
      width: 80px;
      height: 80px;
    }
    @include breakpoint(md) {
      width: 64px;
      height: 64px;
    }
    @include breakpoint(sm) {
      width: 160px;
      height: 160px;
      margin-top: 40px;

      &:first-of-type {
        margin-top: 40px;
      }
    }
  }
  &__description {
    margin-top: 20px;
    @include order-item-description;
    color: $text-main;

    @include breakpoint(lg) {
      text-align: center;
    }
    @include breakpoint(md) {
      width: 100px;
    }
    @include breakpoint(sm) {
      width: 320px;
      @include order-item-description-sm;
    }
  }
}

#order-select,
#order-email,
#order-name {
  width: 370px;
  height: 48px;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 3px;
  outline: none;
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  padding-left: 10px;
  @include order-range-label;
  color: $text-input;
  transition: .2s;

  &:focus {
    background-color: #3a3c4c;
    color: $text-main;
    &::placeholder {
      color: $text-main;
    }
  }

  @include breakpoint(lg) {
    width: 280px;
    height: 41px;
  }
  @include breakpoint(md) {
    width: 220px;
    height: 38px;
    @include order-range-label-sm;
  }
  @include breakpoint(sm) {
    margin-top: 20px;
    width: 300px;
    height: 48px;
    @include order-range-label;
  }
}