$screen-xs-max: 450px;
$screen-sm-max: 768px;
$screen-md-max: 1024px;
$screen-lg-max: 1280px;
$screen-xl-max: 1400px;

$background: #272733;
$background-header: #10101D;

$text-main: #FFFFFF;
$text-default: #000000;
$text-accent: #3E9CDC;
$text-input: #272733;
$text-title-accent: #42A9ED;
$text-description: #BBBBBB;
$text-select-color: #42A9ED;

$text-menu: #43ABF0;
$text-footer: #C3C3C3;

$button-order-color: #3E9CDC;
$button-more-color: #FFFFFF;
$button-text-color: #272733;

$range-slider-color: #42A9ED;
$range-slider-border-color: #286690;

$footer-background: #3D4050;